<div id="calculadora" class="container align-self-center col-sm-8 col-md-5 col-xl-3 shadow-lg mt-5">
  <div id="pantalla" class="row bg-light h-25 p-3 fs-2 ">
      <div class="row justify-content-end fs-5">42*1</div>
      <div class="row justify-content-end">42</div>
  </div>
  <div id="calc-btns" class="row  text-light h-75 text-center fs-4">
      <div id="btns-left" class="bg-secondary col-9">
          <div class="row h-25 align-content-center">
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">7</span>
              </div>
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">8</span>
              </div>
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">9</span>
              </div>
          </div>
          <div class="row h-25 align-content-center">
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">4</span>
              </div>
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">5</span>
              </div>
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">6</span>
              </div>
          </div>
          <div class="row h-25 align-content-center">
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">1</span>
              </div>
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">2</span>
              </div>
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">3</span>
              </div>
          </div>
          <div class="row h-25 align-content-center">
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">.</span>
              </div>
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">0</span>
              </div>
              <div class="calc-left-btn col h-100 d-flex align-items-center">
                  <span class="w-100">00</span>
              </div>
          </div>

      </div>
      <div id="btns-right" class="container-fluid col-3">
          <div class="d-flex flex-column justify-content-center h-100">
              <div class="row h-100 align-content-center calc-right-btn">
                  <span class="">DEL</span>
              </div>
              <div class="row h-100 align-content-center calc-right-btn">
                  <span>/</span>
              </div>
              <div class="row h-100 align-content-center calc-right-btn">
                  <span>X</span>
              </div>
              <div class="row h-100 align-content-center calc-right-btn">
                  <span>-</span>
              </div>
              <div class="row h-100 align-content-center calc-right-btn">
                  <span>+</span>
              </div>
              <div class="row h-100 align-content-center calc-right-btn">
                  <span>=</span>
              </div>
          </div>
      </div>
  </div>
</div>
